<style>

  a{
    color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #9db192;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}
  
</style>
<p>
  <mat-toolbar color="primary">
    <span>Quotation Management</span>
   </mat-toolbar>
</p>
<p>
  <mat-toolbar>
    <button  class="tool-bar-button">SEND BY EMAIL</button>
    <button  class="tool-bar-button">PRINT</button>
    <button  class="tool-bar-button">CONFIRM</button>
    <button  class="tool-bar-button">PREVIEW</button>
    <button  class="tool-bar-button">CANCEL</button>
  </mat-toolbar>
</p>



<router-outlet></router-outlet>